<!DOCTYPE html>
<html>
<head>
  <title>Portfolio Biodata</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Biodata List</h1>
    <a href="/add">Add New Biodata</a>
    <ul>
      <% people.forEach(person => { %>
        <li>
          <strong>Name:</strong> <%= person.name %><br>
          <strong>Age:</strong> <%= person.age %><br>
          <strong>Bio:</strong> <%= person.bio %><br>
          <a href="/edit/<%= person._id %>">Edit</a> |
          <a href="/delete/<%= person._id %>">Delete</a>
        </li>
      <% }) %>
    </ul>
  </div>
</body>
</html>